:host {
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.error {
    color: #e57c0e
}

.success {
    color: #479A3F
}

.mat-success {
    background-color: #e57c0e;
    color: whitesmoke;
}

.mat-form-field {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
}

.mat-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

::ng-deep .mat-form-field {
    .mat-input-element {
        color: whitesmoke;
    }

    .mat-form-field-label {
        color: whitesmoke;
    }

    .mat-form-field-underline {
        background-color: whitesmoke;
    }

    .mat-form-field-ripple {
        background-color: whitesmoke;
    }

    .mat-form-field-required-marker {
        color: whitesmoke;
    }
}

::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: #e57c0e;
    }

    .mat-form-field-ripple {
        background-color: #e57c0e;
    }

    .mat-form-field-required-marker {
        color: #e57c0e;
    }

    .mat-input-element {
        color: #e57c0e;
    }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: #ff33cc;
    }

    .mat-form-field-label {
        color: #ff33cc;

        .mat-form-field-required-marker {
            color: #ff33cc;
        }
    }

    .mat-form-field-ripple {
        background-color: #ff33cc;
    }
}

.spacer {
    flex: 1;
}

.content {
    // display: flex;
    // margin: 82px auto 32px;
    // padding: 0 16px;
    // max-width: 960px;
    // flex-direction: column;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
    color: whitesmoke;
    text-align: center;
}

img {
    width: 7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}